* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

header {
    position: fixed;
    display: flex;
    padding: 2rem 2.5rem;
    gap: 6rem;
    text-transform: uppercase;
}

.page-title {
    display: inherit;
    font-size: 1.7rem;
}

.white-text {
    color: white;
    z-index: 1;
}

.nav-style {
    display: inherit;
    align-items: center;
    font-size: 1.3rem;
    gap: 3rem;
}

.nav-style a {
    text-decoration: none;
}

.nav-style a:link,a:visited,a:hover,a:active {
    color: white;
}

.information-position {
    position: absolute;
    bottom: 25%;
}

.content-lineone {
    font-size: 1rem;;
}

.content-linetwo {
    font-size: 1rem;;
}

.imageattrib-pos {
    position: absolute;
    bottom: 5%;
    right: 5%;
}

.attribution-text {
    font-size: 1rem;
}

.background-fullHeight {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.image-niketh {
    background-image: url(../images/niketh-vellanki-space-unsplash.jpg);
}

.image-vincentiu {
    background-image: url(../images/vincentiu-solomon-space-unsplash.jpg);
}

.image-cerqueira {
    background-image: url(../images/cerqueira-space-unsplash.jpg);
}

.image-eberhard {
    background-image: url(../images/eberhard-grossgasteiger-space-unsplash.jpg);
}

.image-aldebaran {
    background-image: url(../images/aldebaran-s-space-unsplash.jpg);
}